<ion-header>
  <ion-toolbar>
    <ion-buttons slot="iniciar">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CadImovel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
